<ion-view hide-nav-bar='true'>
  <ion-content scroll="false" class="login-modal">
    <div class="top-dekor">
      <button class="button button-icon ion-close button-close-login" ng-click="loginHide()"></button>
    </div>
    <img class="login-logo" src="img/login_icon.svg"/>
    <div class="list list-inset input-account-container">
      <label class="item item-input">
        <input type="email" placeholder="Alamat email" ng-model='account.email'>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model='account.pass'>
      </label>
      <button class="item button button-login-conf" ng-click='login()'>
        Login
      </button>
    </div>
  </ion-content>
</ion-view>
