<ion-view align-title="center" view-title="GeoCrowd">
  <ion-content class="landingContainer" scroll="false">
    <leaflet
      lf-center="center"
      layers="layers"
      height={{height}}
      width="100%"
      markers="markers"
      geojson="geojson"
      defaults="defaults"
      ng-if='!hide'>
    </leaflet>
    <div class="radar-modal-container" ng-show="stateRadar">
      <ion-header-bar class="bar-dark radar-header">
        <h1 class="title">Hotspot & Report Radar</h1>
        <button class="button button-icon ion-close button-close-radar" ng-click="radarHide()"></button>
      </ion-header-bar>
      <div class="list hotspot-list has-header">
        <a class="item item-icon-left" ng-repeat="pointInside in pointsInside" ui-sref="app.verify({rId: pointInside['rId']})">
          <span ng-class="{'icon icon-report' : (pointInside['ReportType'] == 'user') ? true: false, 'icon icon-fire': (pointInside['ReportType'] == 'hotspot') ? true: false}"></span>
          <table>
            <tr>
              <td colspan="3"><b>{{pointInside.id}}</b></td>
            </tr>
            <tr ng-repeat="(key, val) in pointInside" ng-if="key != 'id'">
              <td class="radar-table-label">{{key}}</td>
              <td class="radar-table-spacer">:</td>
              <td class="radar-table-value">{{val}}</td>
            </tr>
          </table>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
