<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark" align-title="center">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-login button-icon icon-login login-icon-fix" ng-click="loginShow()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContainer"></ion-nav-view>
    <ion-footer-bar class="bar-dark bar-footer footer-buttons" ng-hide="!hasFooter">
      <div class="row">
        <div class="col">
            <button class="button button-balanced button-clear button-icon icon-radar-off icon-radar-fix footer-button-color" ng-click="radarShow()"></button>
        </div>
        <div class="col">
            <button class="button button-balanced button-clear button-icon ion-ios-camera-outline footer-button-color" ng-click="showCamera()"></button>
        </div>
        <div class="col">
            <button class="button button-balanced button-clear button-icon ion-ios-chatboxes-outline footer-button-color"></button>
        </div>
      </div>
    </ion-footer-bar>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark sidebar">
    </ion-header-bar>
    <ion-content class="sidemenu-content">
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
