<ion-bottom-sheet-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Hotspot & Report Radar</h1>
    <button class="button button-icon ion-close button-close-radar" ng-click="radarHide()"></button>
  </ion-header-bar>
  <ion-content class="radar-modal">
    <div class="list">
      <a class="item item-icon-left" href="#">
        <span class="icon icon-fire"></span>
        <table>
          <tr>
            <td colspan="3"><b>Hotspot #329</b></td>
          </tr>
          <tr>
            <td class="radar-table-label">Coordinate</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">-7.1232; 110.9123</td>
          </tr>
          <tr>
            <td class="radar-table-label">Level of danger</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">Imminent</td>
          </tr>
          <tr>
            <td class="radar-table-label">Updated</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">6 hours ago</td>
          </tr>
        </table>
      </a>
      <a class="item item-icon-left" href="#">
        <span class="icon icon-report"></span>
        <table>
          <tr>
            <td colspan="3"><b>Media and User report #22</b></td>
          </tr>
          <tr>
            <td class="radar-table-label">Coordinate</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">-7.3534; 110.6668</td>
          </tr>
          <tr>
            <td class="radar-table-label">Source</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">Twitter</td>
          </tr>
          <tr>
            <td class="radar-table-label">Status</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">#gambutapi terdeteksi pada...</td>
          </tr>
          <tr>
            <td class="radar-table-label">Updated</td>
            <td class="radar-table-spacer">:</td>
            <td class="radar-table-value">1 hours ago</td>
          </tr>
        </table>
      </a>
    </div>
  </ion-content>
</ion-bottom-sheet-view>
