<ion-view title="Settings" id="setting">
  <ion-content class="has-header">

<ul class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Theme
    </div>
    <select>
      <option>Light</option>
      <option selected>Dark</option>
    </select>
  </label>

  <li class="item item-toggle">
     Automatic Reply
     <label class="toggle toggle-positive">
       <input type="checkbox" value="off">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  
  <label class="item item-input item-select">
    <div class="input-label">
      First day of the month
    </div>
    <select>
      <option selected>Monday</option>
      <option>Tuesday</option>
	  <option>Wednesday</option>
	  <option>Thursday</option>
	  <option>Friday</option>
	  <option>Saturday</option>
	  <option>Sunday</option>
    </select>
  </label>

</ul>

  </ion-content>
</ion-view>