<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-dark">
    <button class="button button-icon ion-ios-arrow-back button-close-radar" ng-click="backToMain()"></button>
    <h1 class="title right">Verifikasi Laporan</h1>
  </ion-header-bar>
  <ion-content class="has-header" scroll='false'>
    <div class='ava-container'>
      <img src='img/samplepics.jpg' width='100%' />
    </div>
    <div class='bar bar-dark no-padding'>
      <div class='verify-bar-container'>
        <span class='verify-name'>Titik Api</span>
        <div class='verify-icon'>
          <!-- <span ng-class="{'icon icon-report' : (pointInside['ReportType'] == 'user') ? true: false, 'icon icon-fire': (pointInside['ReportType'] == 'hotspot') ? true: false}"></span> -->
          <span ng-class="{'icon icon-report' : (pointInside['ReportType'] == 'user') ? true: false, 'icon icon-fire': (pointInside['ReportType'] == 'hotspot') ? true: true}"></span>
        </div>
      </div>
    </div>
    <div class='list has-header scrollable' scroll='true'>
      <ion-item class="item-icon-left" ng-click="startCamera()">
        <i class="icon ion-android-camera"></i><span class='take-pic-label'>Ambil Foto</span>
      </ion-item>
      <ion-item class="item" ng-show='verify.takePic'>
        <div>Pratinjau Foto</div>
        <img ng-src='data:image/jpg;base64,{{verify.previewPic}}' width="100%" height="100%">
      </ion-item>
      <ion-item class='item'>
        <span>Keterangan</span>
        <textarea class="keterangan"></textarea>
      </ion-item>
      <ion-item class='verify-button-container'>
        <button class="button button-clear button-positive button-batal-verify">Batal</button>
        <button class="button-login-conf button button-dark">Verifikasi</button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
