@font-face {
  font-family: 'iconFont';
  src: url('/img/iconFont.ttf');
}

.radar-on::before, .radar-off::before {
  font-family: 'iconFont';
}

.radar-on::before {
  content: 'A'
}

.radar-off::before {
  content: 'B'
}
