/* Misc */
.vertical-center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

/*Header*/
.login-icon-fix::before {
  font-size: 1.25em !important;
}

.button-login {
  border: 0em;
}
.bar-dark .title, .bar-dark .button-icon::before {
  color: #f57f17 !important;
}

/*Footer*/
.icon-radar-fix::before {
  font-size: 1.45em !important;
  font-weight: bold !important;
}

.bar-footer.footer-buttons {
  padding: 0em;
}

.bar-footer.footer-buttons .row {
  padding: 0em;
}

.bar-footer.footer-buttons .row .col {
  text-align: center;
}

.footer-button-color {
  color: #f57f17 !important;
}


/*Login Modal*/
.login-modal {
  background-color: #212121;
}

.top-dekor {
  height: 0.4em;
  background-color: #f57f17;
}

.button-close-login {
  background-color: #f57f17;
  color: white !important;
  width: 3em;
  height: 3em;
  border-radius: 0;
  float: right;
}

.login-logo {
  width: 60%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  display: block;
}

.input-account-container {
  background-color: transparent;
}

.button-login-conf {
  border-radius: 0;
  background-color: #f57f17;
  color: white !important;
  float: right;
  margin-top: 0.5em;
  width: 7em;
}

/*Radar modal*/
.radar-modal-container {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}

.radar-header {
  position: absolute;
  top: 0px;
}

.button-close-radar::before {
  font-size: 1em !important;
}

.icon-report::before {
  color: orange;
}

.radar-table-label {
  width: 8em;
}

.radar-table-spacer {
  width: 1em;
}

.hotspot-list {
  height: 80%;
  overflow-y: auto;
  min-height: initial;
}

/*report*/
.report-list .checkbox {
  width: 100%;
}

.sms-checkbox {
  border: none;
  height: 100%;
}

.panic-button {
  position: fixed;
  border: none;
  border-radius: 50%;
  padding: 0px;
  width: 5em;
  height: 5em;
  background: url('../img/panic-icon.png');
  background-size: contain;
  z-index: 99999999;
  right: 2em;
  bottom: 2em;
}

.compass-container {
}

.compass-background {
  display: block;
  margin: auto;
  width: 10em;
  height: 10em;
  background: url('../img/compass-bg.png');
  background-size: contain;
  text-align: center;
  white-space: nowrap;
}

.compass-arrow {
  margin-top: 0.85em;
  margin-left: -0.15em;
  width: 8em;
  height: 8em;
}
